<footer>
    <div class="footer_column_container">
        <div class="footer_column_1">
            <div class="list_title">Khelo365:</div>
            <ul>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Promotions</a>
                </li>
                <li>
                    <a href="#">Product & Service</a>
                </li>
                <li>
                    <a href="#">How to?</a>
                </li>
                <li>
                    <a href="#">Play Poker</a>
                </li>
                <li>
                    <a href="#">Payments</a>
                </li>
                <li>
                    <a href="#">Store</a>
                </li>
                <li>
                    <a href="#">khelo news</a>
                </li>
                <li>
                    <a href="#">Khelo365.Club</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="footer_column_2">
            <div class="list_title">Useful Links:</div>
            <ul>
                <li>
                    <a href="#">Agent Program</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Terms of use</a>
                </li>
                <li>
                    <a href="#">Disclaimer</a>
                </li>
                <li>
                    <a href="#">Legality</a>
                </li>
                <li>
                    <a href="#">Tax & TDS</a>
                </li>
                <li>
                    <a href="#">Payment Process</a>
                </li>
                <li>
                    <a href="#">Refund Policy</a>
                </li>
                <li>
                    <a href="#">Testimonials</a>
                </li>
                <li>
                    <a href="#">Site Map</a>
                </li>
            </ul>
        </div>
        <div class="footer_column_3">

            <div class="footer_column_3_inner_item footer_item_3_1">
                <span class="footer_column_3_inner_item_1">Unit #210, Level 2,</span>
                <span class="footer_column_3_inner_item_1">Prestige Center Point, Edward Road,</span>
                <span class="footer_column_3_inner_item_1">Bangalore, Karnataka, India</span>
                <span class="footer_column_3_inner_item_1">Pin : 560052.</span>
            </div>
            <div class="footer_column_3_inner_item footer_phone">
                <span class="footer_column_3_inner_item_1">+91 7200077220</span>
            </div>
            <div class="footer_column_3_inner_item footer_viber">
                <span class="footer_column_3_inner_item_1">+91 7200077220</span>
                <span class="footer_column_3_inner_item_1">Toll Free: 1800 120 8848</span>
            </div>
            <div class="footer_column_3_inner_item footer_mail">
                <span class="footer_column_3_inner_item_1">support@khelo365.com</span>
            </div>
        </div>
        <div class="footer_column_4">
            <div class="footer_column_4_inner_item ">
                <img src="{{ ('assets/footer_images_03.png')|media }}">
            </div>
            <div class="footer_column_4_inner_item">
                <img src="{{ ('assets/footer_images_11.png')|media }}"><img src="{{ ('assets/footer_images_20.png')|media }}">
            </div>
            <div class="footer_column_4_inner_item">
                <img src="{{ ('assets/footer_images_38.png')|media }}">
            </div>
            <div class="footer_column_4_inner_item">
                <img src="{{ ('assets/footer_images_58.png')|media }}"><img src="{{ ('assets/footer_images_61.png')|media }}">
            </div>
        </div>
        <div class="footer_column_5">
            <div class="footer_column_4_inner_item title">100% Legal<span class="footer_orange_span">&</span>Secure</div>
            <div class="footer_column_4_inner_item items">
                <img src="{{ ('assets/footer_images_13.jpg')|media }}">
                <img src="{{ ('assets/footer_images_15.jpg')|media }}">
                <img src="{{ ('assets/footer_images_17.jpg')|media }}">
                <img src="{{ ('assets/footer_images_25.jpg')|media }}">
                <img src="{{ ('assets/footer_images_27.jpg')|media }}">
                <img src="{{ ('assets/footer_images_28.jpg')|media }}">
                <img src="{{ ('assets/footer_images_32.jpg')|media }}">
                <img src="{{ ('assets/footer_images_33.jpg')|media }}">
                <img src="{{ ('assets/footer_images_34.jpg')|media }}">
                <img src="{{ ('assets/footer_images_45.jpg')|media }}footer_images_45.jpg">
                <img src="{{ ('assets/footer_images_46.jpg')|media }}">
                <img src="{{ ('assets/footer_images_47.jpg')|media }}">
                <img src="{{ ('assets/footer_images_54.jpg')|media }}">
                <img src="{{ ('assets/footer_images_55.jpg')|media }}">
                <img src="{{ ('assets/footer_images_56.jpg')|media }}">
                <img src="{{ ('assets/footer_images_66.jpg')|media }}">
                <img src="{{ ('assets/footer_images_67.jpg')|media }}">
                <img src="{{ ('assets/footer_images_68.jpg')|media }}">
            </div>
        </div>
    </div>
</footer>