[viewBag]
==
<div class="section_3">
	<div class="section_3_container">
		<div class="section_3_title"><span>Special Offers at the</span>
			<span>first india’s online poker site</span></div>
		<div class="section_3_item_container_container">
			<div class="section_3_item_container"><a href="#">&nbsp;<img src="/storage/app/media/assets/section_3_03.jpg" class="fr-fic fr-dii">&nbsp;<span>Free $30 First Deposit Offer</span>&nbsp;</a></div>
			<div class="section_3_item_container"><a href="#">&nbsp;<img src="/storage/app/media/assets/section_3_05.jpg" class="fr-fic fr-dii">&nbsp;<span>High Roller Club</span>&nbsp;</a></div>
			<div class="section_3_item_container"><a href="#">&nbsp;<img src="/storage/app/media/assets/section_3_07.jpg" class="fr-fic fr-dii">&nbsp;<span>$1 Million Spin &amp; Go</span>&nbsp;</a></div>
			<div class="section_3_item_container"><a href="#">&nbsp;<img src="/storage/app/media/assets/section_3_13.jpg" class="fr-fic fr-dii">&nbsp;<span>PokerStars VR</span>&nbsp;</a></div>
			<div class="section_3_item_container"><a href="#">&nbsp;<img src="/storage/app/media/assets/section_3_14.jpg" class="fr-fic fr-dii">&nbsp;<span>First Deposit Bonus</span>&nbsp;</a></div>
			<div class="section_3_item_container"><a href="#">&nbsp;<img src="/storage/app/media/assets/section_3_15.jpg" class="fr-fic fr-dii">&nbsp;<span>Stars Rewards</span>&nbsp;</a></div>
		</div>
	</div>
</div>