[viewBag]
==
<div class="section_5_title">Testimonials</div>
    <div class="section_5_sider_container">
        <div class="section_5_sider">
            <div class="section_5_slide">
                <div class="section_5_slide_img"><img src="{{ ('assets/section_5_03.jpg')|media }}"></div>
                <div class="section_5_slide_content">
                    <div class="section_5_slide_content_top">
                        <div class="section_5_slide_name">Mr. Ankush Kumar</div>
                        <div class="section_5_slide_date">02 / 01 / 2017</div>
                    </div>
                    <div class="section_5_slide_content_bottom">
                        "To be very frank, When I got to know about this (Khelo365 VIP Party) trip - I never thought this could be so amazing. I thought OK yaar - we are gonna have some fun, move around, a couple of drinks and then it will be done. But, I didn't expect this. I could only sum it up by saying this was one of the craziest, wildest, awesomest experience I have ever had."
                    </div>
                </div>
            </div>
            <div class="section_5_slide">
                <div class="section_5_slide_img"><img src="{{ ('assets/2x9mdy-dhfm_ru-devushka-volosy-kra.jpg')|media }}"></div>
                <div class="section_5_slide_content">
                    <div class="section_5_slide_content_top">
                        <div class="section_5_slide_name">Mr. Ankush Kumar</div>
                        <div class="section_5_slide_date">02 / 01 / 2017</div>
                    </div>
                    <div class="section_5_slide_content_bottom">
                        "To be very frank, When I got to know about this (Khelo365 VIP Party) trip - I never thought this could be so amazing. I thought OK yaar - we are gonna have some fun, move around, a couple of drinks and then it will be done. But, I didn't expect this. I could only sum it up by saying this was one of the craziest, wildest, awesomest experience I have ever had."
                    </div>
                </div>
            </div>
            <div class="section_5_slide">
                <div class="section_5_slide_img"><img src="{{ ('assets/1349039790_03-500x392.jpg')|media }}"></div>
                <div class="section_5_slide_content">
                    <div class="section_5_slide_content_top">
                        <div class="section_5_slide_name">Mr. Ankush Kumar</div>
                        <div class="section_5_slide_date">02 / 01 / 2017</div>
                    </div>
                    <div class="section_5_slide_content_bottom">
                        "To be very frank, When I got to know about this (Khelo365 VIP Party) trip - I never thought this could be so amazing. I thought OK yaar - we are gonna have some fun, move around, a couple of drinks and then it will be done. But, I didn't expect this. I could only sum it up by saying this was one of the craziest, wildest, awesomest experience I have ever had."
                    </div>
                </div>
            </div>
            <div class="section_5_slide">
                <div class="section_5_slide_img"><img src="{{ ('assets/girl-1360863_960_720.jpg')|media }}"></div>
                <div class="section_5_slide_content">
                    <div class="section_5_slide_content_top">
                        <div class="section_5_slide_name">Mr. Ankush Kumar</div>
                        <div class="section_5_slide_date">02 / 01 / 2017</div>
                    </div>
                    <div class="section_5_slide_content_bottom">
                        "To be very frank, When I got to know about this (Khelo365 VIP Party) trip - I never thought this could be so amazing. I thought OK yaar - we are gonna have some fun, move around, a couple of drinks and then it will be done. But, I didn't expect this. I could only sum it up by saying this was one of the craziest, wildest, awesomest experience I have ever had."
                    </div>
                </div>
            </div>
        </div>
        <div class="section_5_sider_navigation">
            <div class="section_5_slider_prevArrow"></div>
            <div class="section_5_number_of_slides"><span class="section_5_sider_curent_slide">1</span>/<span class="section_5_sider_max_slide">4</span></div>
            <div class="section_5_slider_nextArrow"></div>
        </div>
    </div>