@import "../theme/variables";
@import "../controls/tabs";
@import "../controls/buttons";

#mainWrapper {
  &:extend(.default-container-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: @body-bg-color-dark-grey;
  padding: 25px;
  margin-bottom: 30px;
  h1 {
    @media @mobile {
      font-size: 25px;
      margin-bottom: 1em;
    }
  }
}


#playerProfile {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60%;
  color: #fff;
  justify-content: space-between;
  @media @mobile {
    width: 100%;
  }
  input {
    display: none;
    height: 2.5em;
    visibility: hidden;
    &:hover + label {}
    &:checked + label {
      &:extend(.tab-green);
      color: @theme-font-color-gold;
      position: relative;
    }
  }
  label {
    &:extend(.tab-transparent);
    text-transform: none !important;
    width: 49%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    height: 4.5em;
    line-height: 2.5em;
    margin: 0;
  }
}

#content {
  background: @body-bg-color-dark-grey;
  border-radius: 0 .25em .25em .25em;
  min-height: 20em;
  position: relative;
  width: 100%;
  & > div {
    opacity: 0;
    padding: 1.5em 0;
    z-index: -100;
    width: 100%;
    ul {
      list-style: none;
      padding-left: 0;
      ul {
        display: flex;
        padding-bottom: 30px;
        align-items: center;
        @media @mobile {
          flex-wrap: wrap;
        }
        li {
          width: 50%;
          &:last-child {
            @media @tablet {
              &:before {
                content: ': ';
              }
            }
            @media @mobile {
              margin-top: 1em;
            }
          }
          @media @mobile {
            &:first-child {
              font-weight: 600;
              &:after {
                content: ':';
              }
            }
            width: 100%;
          }
          button {
            font-size: 11px;
            padding: 12px;
          }
        }
      }
    }
  }
  .head {
    color: @theme-font-color-gold;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    p {
      font-size: 20px;
      line-height: 18px;
      margin-bottom: 0;
      white-space: nowrap;
      @media @mobile {
        font-size: 15px;
      }
    }
    hr {
      width: 100%;
      margin: 15px 0 20px 7px;
      border-color: @theme-font-color-gold;
    }
    button {
      width: 120px;
      height: 33px;
      font-weight: 600;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      img {
        height: 18px;
      }
    }
  }
}


#playerProfile input#tab-1:checked ~ #content #personal,
#playerProfile input#tab-2:checked ~ #content #banking {
  opacity: 1;
  z-index: 100;
}

#playerProfile input#tab-2:checked ~ #content #personal,
#playerProfile input#tab-1:checked ~ #content #banking {
  display: none;
}

input.visible {
  visibility: visible !important;
}