//
// Layouts
//
// Styles specific to different page layouts.
//

// Used by the fixed navigation

@import "../theme/variables";

html {
  scroll-behavior: smooth;
}

body {
  background-color: @body-bg-color-black;
  color: @main-body-text-color;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  button {
    border: none;
  }
  .page-title {
    color: @theme-font-color-gold;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
  }
  label {
    font-weight: normal;
  }
}

main {
  padding-bottom: 100px;
  @media @mobile {
    padding-top: 0;
  }
}

header {
  z-index: 2;
  margin: 0 auto;
  margin-bottom: @content-block-gutter-size;
  max-width: 1340px;
  width: 100%;
  .top_header {
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    height: 110px;
    justify-content: space-between;
    align-items: center;
  }
  .first_logo {
    height: 110px;
  }
  .top_header_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &.logged {
      color: #fff;
      height: 50px;
      align-items: stretch;
      @media @mobile {
        margin: 15px 0;
        width: 100vw;
      }
    }
  }
  .top_header_login_button {

    font-weight: bold;
    text-transform: uppercase;
    height: 37px;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,206,146); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,206,146,1) 0%, rgba(194,157,98,1) 86%, rgba(165,124,71,1) 86%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,206,146,1) 0%,rgba(194,157,98,1) 86%,rgba(165,124,71,1) 86%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,206,146,1) 0%,rgba(194,157,98,1) 86%,rgba(165,124,71,1) 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffce92', endColorstr='#a57c47',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0px 0px 10px 2px rgba(226,174,109,0.29);
    -moz-box-shadow: 0px 0px 10px 2px rgba(226,174,109,0.29);
    box-shadow: 0px 0px 10px 6px rgba(226,174,109,0.29);
    margin-right: 30px;
  }
  .header_logged_logout_button {
    opacity: 0;
    @media @mobile {
      display: block;
      div {
        width: 36px;
        height: 36px;
        background-image: -moz-linear-gradient( 90deg, rgb(20,20,21) 0%, rgb(75,77,81) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(20,20,21) 0%, rgb(75,77,81) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(20,20,21) 0%, rgb(75,77,81) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        margin-top: 15px;
      }
    }
  }
  .top_header_fb_button{
    margin-right: 10px;
  }
  .top_header_login_button a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #26282b;
    font-weight: 800;
  }
  .top_header_first_logo_block {
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    @media @mobile {
      display: none;
    }
  }

  .top_header_first_logo_block > div {
    margin-right: 37px;
    font-family: 'Montserrat', sans-serif;;
    text-transform: uppercase;
  }
  span.top_header_white_text {
    color: #fff;
    font-weight: 400;
    font-size: 11px;
  }
  span.top_header_orange_text {
    color: #d7a360;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
  }
  .logo {
    justify-content: center;
    display: flex;
  }
  .top_header_buttons {
    display: flex;
    align-items: center;
  }
  .top-header-buttons-wrapper {
    display: flex;
  }
  .bottom_header {
    &:extend(.green-gradient);
    height: 70px;
    max-width: 1340px;
    margin: 0 auto;
    z-index: 100;
    @media @mobile {
      height: auto;
    }
  }
  .bottom_header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
  }
  .bottom_header ul li {
    padding: 10px 26px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media @mobile {
      width: 100%;
    }
  }
  .bottom_header > ul > li:hover {
    background: rgb(255,206,146);
    background: -moz-linear-gradient(top, rgba(255,206,146,1) 0%, rgba(194,157,98,1) 86%, rgba(165,124,71,1) 86%);
    background: -webkit-linear-gradient(top, rgba(255,206,146,1) 0%,rgba(194,157,98,1) 86%,rgba(165,124,71,1) 86%);
    background: linear-gradient(to bottom, rgba(255,206,146,1) 0%,rgba(194,157,98,1) 86%,rgba(165,124,71,1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffce92', endColorstr='#a57c47',GradientType=0 );
    -webkit-box-shadow: 0px 0px 10px 2px rgba(226,174,109,0.29);
    -moz-box-shadow: 0px 0px 10px 2px rgba(226,174,109,0.29);
    box-shadow: 0px 0px 10px 6px rgba(226,174,109,0.29);
  }
  .bottom_header ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    position: relative;
    @media @mobile {
      text-align: center;
    }
  }
  .bottom_header > ul > li:hover:before {
    content: "";
    width: 20px;
    height: 12px;
    background: url(../../../../../storage/app/media/assets/menu_hover_icons_03.png);
    position: absolute;
    top: 13px;
    @media @mobile {
      background: none;
    }
  }
  .bottom_header > ul > li:hover:after {
    content: "";
    width: 4px;
    height: 4px;
    background: url(../../../../../storage/app/media/assets/menu_hover_icons_05.png);
    position: absolute;
    bottom: 16px;
    @media @mobile {
      background: none;
    }
  }
  ul.inner_top_menu {
    position: absolute;
    top: 70px;
    left: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    display: none;
    z-index: 100;
    @media @mobile {
      top: 40px;
    }
  }
  ul.inner_top_menu li {
    padding: 0 16px;
    justify-content: flex-start;
    width: 100%;
    background-image: -moz-linear-gradient( 90deg, rgb(20,20,21) 0%, rgb(75,77,81) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(20,20,21) 0%, rgb(75,77,81) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(20,20,21) 0%, rgb(75,77,81) 100%);
    height: 40px;
    font-size: 10px;
  }
  ul.inner_top_menu li:hover a {
    color: #d09e5e;
  }
  .bottom_header > ul > li:hover > ul {
    display: flex;
  }

  .bottom_header {
    ul li.parent_menu_item {
      &, &:hover {
        & > a:after {
          content: "";
          width: 8px;
          height: 5px;
          position: absolute;
          transform: translateX(6px);
          background-repeat: no-repeat;
          top: calc(~'50% - 3px');
        }
      }
      & > a:after {
        background-image: url(../../../../../storage/app/media/assets/menu_arrow_down_white_03.png);
      }
      &:hover > a:after {
        background-image: url(../../../../../storage/app/media/assets/menu_arrow_down_03.png);
      }
    }
  }

  .bottom_header > ul > li:hover > a {
    color: #26282b;
  }

  .Rectangle_1_copy_4_copy_16_copy_2 {
    background-image: -moz-linear-gradient( 90deg, rgb(20,20,21) 0%, rgb(75,77,81) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(20,20,21) 0%, rgb(75,77,81) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(20,20,21) 0%, rgb(75,77,81) 100%);
    box-shadow: 0px 1px 1px 0px rgba(1, 2, 2, 0.004);
    position: absolute;
    left: 1082px;
    top: 221px;
    width: 146px;
    height: 40px;
    z-index: 236;
  }
}

.mobile-menu-button {
  display: none;
  @media @mobile {
    display: block;
    .top_header.logged & {
      margin-left: 15px;
      margin-top: 15px;
    }
  }
}

.top_header.logged .header_logged_logout_button {
  display: none;
  @media @mobile {
    display: block;
    opacity: 1;
  }
}

.mobile-menu-button {
  display: none;
  @media @mobile {
    display: block;
    .top_header.logged & {
      margin-left: 15px;
      margin-top: 15px;
    }
  }
}